<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="seed_website" value="http://katproxy.com/"/>
    <add key="v2ex_url" value="https://www.v2ex.com/"/>
    <add key="is_debug" value="True"/>
  </appSettings>
</configuration>
