<h2>Login</h2>
<form action="@Url.Action("DoLogin")" method="POST">
    <input type="text" name="userName" placeholder="user name" value="test"/>
    <input type="password" name="password" placeholder="password" value="1"/>
    <input type="submit" value="Login"/>
</form>