@using BPM.Service
<h2 class="text-center">@Protocols.ALL_USERS_AND_DEPARTMENTS</h2>
<div class="col-sm-10" id="allUsersAndDepartments">
</div>
<script type="text/javascript">
    AllUsersAndDepartments.init();
</script>