@using BPM.Service
<form class="form-horizontal" role="form" onsubmit=" return false; ">
    <div class="form-group">
        <label for="oldPassword" class="col-sm-2 control-label">旧密码</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="oldPassword" placeholder="旧密码">
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword" class="col-sm-2 control-label">新密码</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="newPassword" placeholder="新密码">
        </div>
    </div>
    <div class="form-group">
        <label for="newPasswordAgain" class="col-sm-2 control-label">新密码</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="newPasswordAgain" placeholder="新密码">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" onclick=" ModifyPassword.modifyPassword(); return false; " value="">@Protocols.MODIFY_PASSWORD</button>
        </div>
    </div>
</form>