@using BPM.Data
<!DOCTYPE html>
@{
    var permissions = ViewData["permissions"] as List<Permission>;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-notify.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/Content/main.min.css" rel="stylesheet" />
    <meta name="description" content="" />
</head>
<body>
    <div id="head">
        <div>
            @if (permissions.Contains(Permission.ModifyPassword))
            {
                <img src="/Images/btn_hd_setting.gif" title="修改密码" alt="修改密码" onclick=" modifyPassword(); " />
            }
            <img src="/Images/btn_hd_exit.gif" title="退出" alt="退出" onclick=" exit(); " />
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/main.js"></script>
    <div>
        @RenderBody()
    </div>
    <div id="tips" class='notifications bottom-right'></div>
    @Html.Partial("_html5shiv")
</body>
</html>