<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler,Autofac.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <autofac>
    <components>
      <component type="MineSweeper.Context,MineSweeper"
                 service="MineSweeper.Interfaces.IContext,MineSweeper" />
      <component type="MineSweeper.Position,MineSweeper"
                 service="MineSweeper.Interfaces.IPosition,MineSweeper" />
      <component type="MineSweeper.Result,MineSweeper"
                 service="MineSweeper.Interfaces.IResult,MineSweeper" />
    </components>
  </autofac>
</configuration>