<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
        <script src="~/index.js"></script>
    </head>
    <body>
        <button onclick=" Resources.changeLanguage('CN'); ">CN</button>
        <button onclick=" Resources.changeLanguage('EN'); ">EN</button>
        <span id="role"></span>
        <span id="user"></span>
        <script type="text/javascript">
            Resources.changeLanguage('CN');
        </script>
    </body>
</html>