@{
    var newToken = ViewData["newToken"] as string;
}
<h2>Index</h2>
<input type="hidden" value="@newToken"/>
<a href="@Url.Action("Index", "Home", new
                                      {
                                          token = newToken
                                      })">Refresh</a>